body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.layout {
    display: block;
}

header, footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    width: 220px;
    padding: 10px 15px;
    background: white; /* quitamos gris */
}

.menu-vertical {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-vertical li {
    margin: 12px 0;
}

.menu-vertical li a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    transition: 0.3s;
}

.menu-vertical li a:hover {
    color: #007BFF;
    padding-left: 6px;
}

section {
    flex: 1;
     padding: 20px;
}

.telefonos {
    list-style: none;
    padding: 0;
}

.telefonos li {
    margin: 10px 0;
}

.telefonos a {
    display: inline-block;
    text-decoration: none;
    background-color: #f4f4f4;
    padding: 10px 15px;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.telefonos a:hover {
    background-color: black;
    color: white;
}

.correos {
    list-style: none;
    padding: 0;
}

.correos li {
    margin: 10px 0;
}

.correos a {
    display: inline-block;
    text-decoration: none;
    background-color: #e8f0fe;
    padding: 10px 15px;
    border-radius: 8px;
    color: #1a73e8;
    font-weight: bold;
    transition: 0.3s;
}

.correos a:hover {
    background-color: #1a73e8;
    color: white;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}

.boton-contacto,
.boton-inicio {
    display: inline-block;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}

.boton-contacto {
    background-color: #007BFF;
    color: white;
}

.boton-contacto:hover {
    background-color: #0056b3;
}

.boton-inicio {
    background-color: #28a745;
    color: white;
}

.boton-inicio:hover {
    background-color: #1e7e34;
}

.download{
  display: inline-flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  background: #f3f4f6;
  border: 1px solid #e5e7eb;
  padding: 12px 16px; /* más compacto */
  border-radius: 12px;
  transition:0.3s;
}

.download img{
  width: 60px;
  height:auto;
}

.download span{
  font-weight:bold;
  color:#111827;
  font-size:18px;
}

.download:hover{
  transform:scale(1.03);
  background:#e5e7eb;
}

.imagen-web {
    display: flex;
    justify-content: center;   /* centra horizontalmente */
    margin-top: 25px;
}

.imagen-web img {
    max-width: 500px;   /* tamaño máximo */
    width: 100%;        /* adaptable */
    height: auto;
    border-radius: 12px;
}